/* Mobile first styles : smallest screen size and upward
-----------------------------------------------------------*/

* {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	margin: 0;
	padding: 0;
}

body {
	background-color: #677077;
	color: #333333;
	font-size: 120%;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	background-image: url('../images/body-bg.jpg');
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserrat', sans-serif;
}

a {
	color: #ffffff;
}

a:hover,
a:active {
	color: #ffffff;
}

img {
	max-width: 100%;
}

.main_header {
	background-color: #252839;
	padding: 0.5em 1em;
	font-family: 'Montserrat', sans-serif;
	position: relative;
}

header a {
	color: #ffffff;
	text-decoration: none;
}

footer {
	background-color: #252839;
	padding: 0.5em 1em;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	margin-top: 20px;
}

footer p {
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}

footer a {
	font-size: 14px;
}

.logo {
	font-size: 1.0em;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: lighter;
	color: #ffffff;
}

.logo:hover,
.logo:active {
	color: #ffffff;
}

nav {
	position: relative;
	background: rgba(0, 0, 0, 0.3);
	margin: -1em -1em 1em -1em;
}

nav .main-nav {
	height: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
}

nav .main-nav li {
	visibility: visible;
}

nav .main-nav.active {
	height: auto;
}

nav .main-nav a {
	display: block;
	color: rgba(255, 255, 255, 0.8);
	padding: 0.5em 1em;
}

.main-nav li:nth-of-type(1) a {
	background-color: rgba(0, 0, 0, 0.3);
	padding-top: 1em;
}

.main-nav li:nth-of-type(2) a {
	background-color: rgba(0, 0, 0, 0.2);
}

.main-nav li:nth-of-type(3) a {
	background-color: rgba(0, 0, 0, 0.1);
}

nav .main-nav a:hover,
nav .main-nav a:active {
	color: #ffffff;
	/*background: -webkit-linear-gradient(top,  rgba(255,255,255,0.05),  transparent);*/
}

.menu-button {
	float: right;
	display: inline-block;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 1em 1em 0.5em 1em;
}

.menu-button .text {
	display: none;
}

.menu-button a,
.menu-button a:hover,
.menu-button a:active {
	color: #ffffff;
	font-weight: lighter;
}

@media all and (min-width: 18em) {
	.menu-button .text {
		display: inline;
	}
}

@media all and (min-width: 48em) {
	.menu-button {
		display: none;
	}

	nav .main-nav {
		height: auto !important;
		float: right;
		margin-right: 1em;
	}

	.main-nav li {
		display: inline-block;
	}

	.main-nav a {
		background: transparent !important;
	}
}

@media all and (min-width: 20em) and (max-width: 25.999999em) {
	.main-nav li {
		display: inline-block;
		min-width: 49%;
		max-width: 49%;
	}
}

@media all and (min-width: 26em) and (max-width: 48em) {
	.main-nav li {
		display: inline-block;
		min-width: 24%;
		max-width: 24%;
	}

	.main-nav li a {
		text-align: center;
	}
}

.login {
	width: 15%;
	height: 15%;
	padding: 3px 20px;
	margin: 8px 0;
	display: inline-block;
	border: none;
	border-radius: 20px;
	box-sizing: border-box;

}

.signbtn {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	color: #555;
	text-decoration: none;
	background-color: #f2b632;
	color: white;
	padding: 5px 10px;
	margin: 8px 0;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	width: auto;
}

button:hover {
	opacity: 0.8;
}

/*--------*/

.card {
	width: 275px;

	font-family: 'Montserrat', sans-serif;
	text-align: center;

	transition: all .125s;
	transform: scale(1) translateY(0px);
}

/* Elements */

.card__wrapper {
	padding-top: .1px;
	padding-bottom: .1px;
	position: relative;

	background-color: #ffffff;
	color: #999999;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .05);
}

.card__wrapper:after {
	content: '';
	position: absolute;
	z-index: -1;
	top: 15px;
	right: 15px;
	bottom: 0;
	left: 15px;

	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
	transition: all .125s;
	transform: scale(1) translateY(0px);
}

.card__box {
	padding-right: 35px;
	padding-left: 35px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.card__item {
	margin-top: 20px;
	margin-bottom: 20px;
}

.card__item--small {
	margin-top: 10px;
	margin-bottom: 10px;
}

.card__feature {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.card__img {
	display: block;
	max-width: 100%;
	height: 240px;
	width: 275px;
}

.card__header {
	position: relative;
	z-index: 1;
}

.card__title {
	color: #222222;

	font-size: 30px;
	font-weight: 400;
	line-height: 1.25;
}

.card__label {
	color: #cccccc;

	font-family: 'Montserrat', sans-serif;
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: .2em;
}

.card__divider {
	display: block;
	width: 100%;
	height: 15px;

	border: none;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCAyOCAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjggMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNERURFREUiIGQ9Ik0yNy41LDdoLTZDMjEuMiwzLjEsMTgsMCwxNCwwUzYuOCwzLjEsNi41LDdoLTZDMC4yLDcsMCw3LjIsMCw3LjVTMC4yLDgsMC41LDhoNmMwLjMsMy45LDMuNSw3LDcuNSw3czcuMi0zLjEsNy41LTdoNkMyNy44LDgsMjgsNy44LDI4LDcuNVMyNy44LDcsMjcuNSw3eiBNMTQsMWMzLjQsMCw2LjIsMi42LDYuNSw2SDcuNUM3LjgsMy42LDEwLjYsMSwxNCwxeiBNMTQsMTRjLTMuNCwwLTYuMi0yLjYtNi41LTZoMTIuOUMyMC4yLDExLjQsMTcuNCwxNCwxNCwxNHoiLz48L3N2Zz4=);
	background-repeat: no-repeat;
	background-position: center center;
}

.card__body {
	font-size: 12px;
	line-height: 1.75;
}

/* Modifiers */

.card:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.card:hover .card__wrapper {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
}

.card:hover .card__wrapper:after {
	transform: scale(0.95) translateY(10px);
}


.card {
	display: inline-block;
	margin-top: 30px;
	margin-right: 15px;
	margin-left: 15px;
	top: 50%;
}

/*-------*/

.diagnostic {
	margin-top: 40px;
	margin-right: 40px;
	margin-left: 40px;
	text-align: center;
	border: none;
	border-radius: 10px;
	width: 60%;
	position: absolute;
	top: 65%;
	left: 47.2%;
	transform: translate(-50%, -50%);
}

.diagnosticBtn {
	display: inline-block;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 30px;
	color: #555;
	text-decoration: none;
	background-color: #252839;
	color: white;
	padding: 5px 10px;
	margin: 8px 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 40%;
	height: 50px;
}

.diagnosticTxt {
	font-family: 'Montserrat', sans-serif;
	color: #252839;
	font-size: 20px;


}

/*----------*/

.dropbtn {
	background-color: #f2b632;
	color: white;
	padding: 16px;
	font-size: 30px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	margin: 20px;
	margin-top: 50px;
	display: inline-block;

}

.levelBtn {
	display: inline-block;
}

/*----------*/

table {
	height: 40%;
	left: 10%;
	margin: 20px;
	overflow-y: scroll;
	position: static;
	width: 60%;
	display: block;

}

thead th {
	background: #f2b632;
	color: #FFF;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
}

tr {
	background: #f4f7f8;
	border-bottom: 1px solid #FFF;
	margin-bottom: 5px;
}

th,
td {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 20px;
	text-align: left;
	width: 33.3333%;
}

/*----------*/

/* Chat containers */

.container {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-align: center;

}

/* Darker chat container */

.darker {
	border-color: #ccc;
	background-color: #ddd;
}

/* Clear floats */

.container::after {
	content: "";
	clear: both;
	display: table;
}

/* Style images */

.container img {
	float: left;
	max-width: 60px;
	width: 100%;
	margin-right: 20px;
	border-radius: 50%;
}

/* Style the right image */

.container img.right {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}

/* Style time text */

.time-right {
	float: right;
	color: #aaa;
}

/* Style time text */

.time-left {
	float: left;
	color: #999;
}


.chatbtn {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-decoration: none;
	background-color: #f2b632;
	color: white;
	padding: 10px 20px;
	margin: 8px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	width: auto;
	display: inline-block;

}

.checkBtn {
	text-align: center;
}

/*--------------*/

.signup {
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 20px;
	box-sizing: border-box;
	display: block;

	width: 40%;
	margin: 20px;
	display: block;
}

.signupTxt {
	text-align: left;
	font-size: 40px;
	color: #ffffff;
}

.signupBtn {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #555;
	text-decoration: none;
	background-color: #f2b632;
	color: white;
	padding: 5px 10px;
	margin: 8px 0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 10%;
	height: 40px;
}

.signupDiv {
	min-height: 300px;
	position: relative;
	text-align: center;

}

.signupDi {
	text-align: center;


}

.signupForm {
	display: inline-block;
	padding: 20px;
	border: 1px solid red;

}


/*----------*/

.aboutDiv {
	display: inline-block;
}

.aboutImg {
	display: inline-block;
	width: 300px;
}

/*------*/

.homeImg {
	display: block;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 70%%;
	opacity: 0.7;
	-webkit-filter: blur(5px);
	/* Safari 6.0 - 9.0 */
	filter: blur(5px);
}

.centerHome {
	/* position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    color: #ffffff;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;*/
}

.headerHome {
	align-items: center;
	display: flex;
	font-size: 30px;
	height: 100vh;
	justify-content: center;
	overflow: hidden;
	position: relative;
	text-align: center;
	transform-style: preserve-3d;
	perspective: 100px;
}

.headerHome:before {
	animation: fade-slide-down 2s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)),
	url(https://cssanimation.rocks/levelup/public/images/background.jpg) no-repeat bottom;
	background-size: cover;
	content: "";
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.headerHome:after {
	animation: rotate-up .5s .5s cubic-bezier(0, 0.5, 0, 1) forwards;
	background: #F9FCFF;
	content: "";
	height: 40rem;
	left: -5%;
	position: absolute;
	right: -5%;
	top: 90%;
	transform-origin: 0 0;
	z-index: 0;
}

.header-title,
.header-subtitle {
	color: #fff;
}

.header-subtitle {
	text-transform: uppercase;
	margin-bottom: 5rem;
}

.header-button {
	transform: translateZ(.1px);
	position: relative;
	z-index: 10;
}

.animate-pop-in {
	animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
	opacity: 0;
}

.rocky-dashed {
	animation-delay: .6s;
}

.header-title {
	animation-delay: .8s;
}

.header-subtitle {
	animation-delay: 1s;
}

.header-button {
	animation-delay: 1.1s;
}


/* Animations */

@keyframes fade-slide-down {
	0% {
		opacity: 0;
		transform: translateY(-4rem);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes pop-in {
	0% {
		opacity: 0;
		transform: translateY(-4rem) scale(.8);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes rotate-up {
	100% {
		transform: rotateZ(-4deg);
	}
}

/*-------------*/

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-box {
	background-color: transparent;
	width: 150px;
	height: 150px;
	border: 1px solid #f1f1f1;
	perspective: 1000px;
	border-color: #677077;
	margin: 10px;
	display: inline-block;
	/* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */

.flip-box-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-box:hover .flip-box-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */

.flip-box-front,
.flip-box-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

.flip-box-front {
	background-color: #677077;
	color: black;
}

/* Style the back side */

.flip-box-back {
	background-color: #f2b632;
	color: white;
	transform: rotateY(180deg);
	margin: 0;
}

.vocabHeaders {
	color: #ffffff;
	text-align: center;
}

.creditsDiv {
	font-size: 12px;
	text-align: right;
}

/*-----*/

.forgPwd {
	font-size: 12px;
}

/*-------*/

.signupsuccess {
	font-size: 15px;
	color: #ffffff;
}

.signuperror {
	font-size: 20px;
	color: red;
	text-align: center;
}

.search {
	width: 40%;
	height: 30px;
	padding: 10px;
	display: inline-block;
	border: none;
	border-radius: 20px;
	box-sizing: border-box;
	margin: 20px;
	position: relative;
	left: 39%;

}

.searchBtn {
	position: relative;
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	color: #555;
	text-decoration: none;
	background-color: #f2b632;
	color: white;
	padding: 5px 10px;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	width: auto;
	height: 30px;
	float: right;
}

.searchDiv {
	display: inline-block;
}

.searchForm {

	display: relative;

}

.article-container {


	width: 900px;
	background-color: #fff;
	padding: 30px;
}

.article-box {

	padding-bottom: 30px;
	width: 100%;

}

/*--------*/

.levelButtons {
	text-align: center;
}

/*----------*/

label {
	display: block;
	color: #ffffff;
	font-size: 15px;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.headerDiag {
	color: #ffffff;
	text-align: center;
}

.quDiag {
	text-align: center;
	font-size: 20px;
	color: #252839;
}

.diagBtn {
	width: 30px;
	margin-left: 20px;
	font-size: 14px;
}

.diagDiv {
	float: right;
}

.signupBtnDiv {
	text-align: center;
}

.grade {
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*--------*/

.resetPwdTxt {
	text-align: center;
	color: #ffffff;
	font-size: 14px;
}

/*--------*/

@import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);




.sandbox-correct-pronounciation {
	padding: 10em 0 10em 0;
}

.heading-correct-pronounciation {

	margin: auto;
	text-align: center;
	position: relative;
}


h1 {
	color: #fff;
	font-family: 'Cardo', serif;
	font-size: 1.5em;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0.1em;
	line-height: 2.2em;
}

em {
	font-family: 'EB Garamond', serif;
	font-size: 3.5em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	display: block;
	font-style: normal;
	padding-top: 0.1em;
	text-shadow: 0.07em 0.07em 0 rgba(0, 0, 0, 0.1);

	&::before,
	&::after {
		content: "ยง";
		display: inline-block;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
		opacity: 0.2;
		margin: 0 0.6em;
		font-size: 0.5em;
	}

}


.bottom {
	font-size: 1.5em;
	letter-spacing: 0.07em;
	font-size: 1em;
	display: block;
}

/*-------*/

.fillWords {
	display: inline-block;
	margin: 40px;
}

/*-------------*/

.fb-page,
.fb-page:before,
.fb-page:after {
	border: 1px solid #ccc;
}

.fb-page:before,
.fb-page:after {
	content: "";
	position: absolute;
	bottom: -3px;
	left: 2px;
	right: 2px;
	height: 1px;
	border-top: none
}

.fb-page:after {
	left: 4px;
	right: 4px;
	bottom: -5px;
	box-shadow: 0 0 2px #ccc
}

.fb-page {
	margin: 10px;
	left: 1530px;


}

/*------*/

@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400|Lato:400,300|Coda|Open+Sans);

/* 
* Art by @Ryochi 
* 2016
*/

body {
	background: url (https: //pbs.twimg.com/profile_images/584286518694412288/YkeGu-ph.png);
	font-family: "Open sans", sans-serif;
}

a {
	text-decoration: none;
	color: #3498db;
}

.content-profile-page {
	margin: 1em auto;
	width: 44.23em;
}

.cardProfile {
	background: #fff;
	border-radius: 0.3rem;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	border: .1em solid rgba(0, 0, 0, 0.2);
	margin-bottom: 1em;
}

.profile-user-page .img-user-profile {
	margin: 0 auto;
	text-align: center;
}

.profile-user-page .img-user-profile .profile-bgHome {
	border-bottom: .2em solid #f5f5f5;
	width: 44.23em;
	height: 16em;
}

.profile-user-page .img-user-profile .avatar {
	margin: 0 auto;
	background: #fff;
	width: 7em;
	height: 7em;
	padding: 0.25em;
	border-radius: .4em;
	margin-top: -10em;
	box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
}

.profile-user-page button {
	position: absolute;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	width: 7em;
	background: #cccccc;
	border: 1px solid black;
	color: black;
	outline: none;
	border-radius: 0 .6em .6em 0;
	padding: .80em;
}

.profile-user-page button:hover {
	background: #51a7e0;
	transition: background .2s ease-in-out;
	border: 1px solid #2487c9;
}

.profile-user-page .user-profile-data,
.profile-user-page .description-profile {
	text-align: center;
	padding: 0 1.5em;
}

.profile-user-page .user-profile-data h1 {
	font-family: "Lato", sans-serif;
	margin-top: 0.35em;
	color: #292f33;
	margin-bottom: 0;
}

.profile-user-page .user-profile-data p {
	font-family: "Lato", sans-serif;
	color: #8899a6;
	font-size: 1.1em;
	margin-top: 0;
	margin-bottom: 0.5em;
}

.profile-user-page .description-profile {
	color: #75787b;
	font-size: 0.98em;
}

.profile-user-page .data-user {
	font-family: "Quicksand", sans-serif;
	margin-bottom: 0;
	cursor: pointer;
	padding: 0;
	list-style: none;
	display: table;
	width: 100.15%;
}

.profile-user-page .data-user li {
	margin: 0;
	padding: 0;
	width: 33.33334%;
	display: table-cell;
	text-align: center;
	border-left: 0.1em solid transparent;
}

.profile-user-page .data-user li:first-child {
	border-left: 0;
}

.profile-user-page .data-user li:first-child a {
	border-bottom-left-radius: 0.3rem;
}

.profile-user-page .data-user li:last-child a {
	border-bottom-right-radius: 0.3rem;
}

.profile-user-page .data-user li a,
.profile-user-page .data-user li strong {
	display: block;
}

.profile-user-page .data-user li a {
	background-color: #f7f7f7;
	border-top: 1px solid rgba(242, 242, 242, 0.5);
	border-bottom: .2em solid #f7f7f7;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(255, 255, 255, 0.4);
	padding: .93em 0;
	color: #46494c;
}

.profile-user-page .data-user li a strong,
.profile-user-page .data-user li a span {
	font-weight: 600;
	line-height: 1;
}

.profile-user-page .data-user li a strong {
	font-size: 2em;
}

.profile-user-page .data-user li a span {
	color: #717a7e;
}

.profile-user-page .data-user li a:hover {
	background: rgba(0, 0, 0, 0.05);
	border-bottom: .2em solid #3498db;
	color: #3498db;
}

.profile-user-page .data-user li a:hover span {
	color: #3498db;
}

footer h4 {
	display: block;
	text-align: center;
	clear: both;
	font-family: "Coda", sans-serif;
	color: #566965;
	line-height: 6;
	font-size: 1em;
}

footer h4 a {
	text-decoration: none;
	color: #3498db;
}

/*------*/

#target {
	margin: 0;
	padding: 0;
	top: 175%;
	left: 25%;
	display: block;
	position: absolute;
	background-color: #ffffff;
}