.card {
	width: 275px;

	font-family: 'Playfair Display', serif;
	text-align: center;

	transition: all .125s;
	transform: scale(1) translateY(0px);
}

/* Elements */

.card__wrapper {
	padding-top: .1px;
	padding-bottom: .1px;
	position: relative;

	background-color: #ffffff;
	color: #999999;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .05);
}

.card__wrapper:after {
	content: '';
	position: absolute;
	z-index: -1;
	top: 15px;
	right: 15px;
	bottom: 0;
	left: 15px;

	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .2);
	transition: all .125s;
	transform: scale(1) translateY(0px);
}

.card__box {
	padding-right: 35px;
	padding-left: 35px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.card__item {
	margin-top: 20px;
	margin-bottom: 20px;
}

.card__item--small {
	margin-top: 10px;
	margin-bottom: 10px;
}

.card__feature {
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.card__img {
	display: block;
	max-width: 100%;
	height: 240px;
	width: 275px;
}

.card__header {
	position: relative;
	z-index: 1;
}

.card__title {
	color: #222222;

	font-size: 30px;
	font-weight: 400;
	line-height: 1.25;
}

.card__label {
	color: #cccccc;

	font-family: 'Montserrat', sans-serif;
	font-size: 8px;
	text-transform: uppercase;
	letter-spacing: .2em;
}

.card__divider {
	display: block;
	width: 100%;
	height: 15px;

	border: none;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCAyOCAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjggMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNERURFREUiIGQ9Ik0yNy41LDdoLTZDMjEuMiwzLjEsMTgsMCwxNCwwUzYuOCwzLjEsNi41LDdoLTZDMC4yLDcsMCw3LjIsMCw3LjVTMC4yLDgsMC41LDhoNmMwLjMsMy45LDMuNSw3LDcuNSw3czcuMi0zLjEsNy41LTdoNkMyNy44LDgsMjgsNy44LDI4LDcuNVMyNy44LDcsMjcuNSw3eiBNMTQsMWMzLjQsMCw2LjIsMi42LDYuNSw2SDcuNUM3LjgsMy42LDEwLjYsMSwxNCwxeiBNMTQsMTRjLTMuNCwwLTYuMi0yLjYtNi41LTZoMTIuOUMyMC4yLDExLjQsMTcuNCwxNCwxNCwxNHoiLz48L3N2Zz4=);
	background-repeat: no-repeat;
	background-position: center center;
}

.card__body {
	font-size: 12px;
	line-height: 1.75;
}

/* Modifiers */

.card:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.card:hover .card__wrapper {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
}

.card:hover .card__wrapper:after {
	transform: scale(0.95) translateY(10px);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #e9ebea;
	text-align: center;
}

.card {
	display: inline-block;
	margin-top: calc((100vh - 506px) / 2);
	margin-right: 15px;
	margin-left: 15px;
	top: 50%;
}











table {
	height: 40%;
	left: 10%;
	margin: 20px auto;
	overflow-y: scroll;
	position: static;
	width: 60%;
}

thead th {
	background: #d9b38c;
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
}

tr {
	background: #f4f7f8;
	border-bottom: 1px solid #FFF;
	margin-bottom: 5px;
}

th,
td {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 20px;
	text-align: left;
	width: 33.3333%;
}

/*------------------------------------------------*/

/* Chat containers */

.container {
	border: 2px solid #dedede;
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	font-family: 'Lato', sans-serif;
}

/* Darker chat container */

.darker {
	border-color: #ccc;
	background-color: #ddd;
}

/* Clear floats */

.container::after {
	content: "";
	clear: both;
	display: table;
}

/* Style images */

.container img {
	float: left;
	max-width: 60px;
	width: 100%;
	margin-right: 20px;
	border-radius: 50%;
}

/* Style the right image */

.container img.right {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}

/* Style time text */

.time-right {
	float: right;
	color: #aaa;
}

/* Style time text */

.time-left {
	float: left;
	color: #999;
}

.chatbtn {
	font-family: 'Open Sans', sans-serif;
	color: #555;
	text-decoration: none;
	background-color: rosybrown;
	color: white;
	padding: 10px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	width: auto;
	display: inline-block;



}










.login {
	border: none;
	radius: 10px;
	font-family: 'Open Sans', sans-serif;
}

/* Set a style for all buttons */

.signbtn {
	font-family: 'Open Sans', sans-serif;
	color: #555;
	text-decoration: none;
	text-transform: uppercase;
	background-color: rosybrown;
	color: white;
	padding: 10px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	width: auto;
	display: inline-block;

}

button:hover {
	opacity: 0.8;
}

.container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/*--------audio----------------*/

.audio {
	position: relative;
	top: 22px;
	right: 13px;
}

/*-------------*/

html {
	font-family: "Oswald";
	margin: 1em 20%;
	background-color: #fafafa;
}

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	border-bottom: 1px solid #e3e3e8;
}

#logo {
	float: left;
	font-size: 3em;
	margin: 0;
	padding: .4em;
	text-decoration: none;
	color: #333;
	border-right: 1px solid #e3e3e8;
	transition: .5s all;
}

#logo:hover {
	color: #fafafa;
	background-color: #333;
}

nav {
	float: left;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 2.2em 2em;
}

nav ul li {
	display: inline;
	padding: 0 .4em;
}

nav ul li a {
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.6em;
	padding-bottom: 1.3em;
	transition: .5s color;
}

nav ul li a:hover {
	border-bottom: 3px solid #333;
}

#page {
	color: #ff4629;
	border-bottom: 3px solid #333;
}

#fb:hover {
	color: #3b5998;
}

#twitter:hover {
	color: #00acee;
}
